<%- include('partials/starting') %>
  <!-- Navbar  -->
  <nav class="navbar navbar-expand-lg" style="background-color: rgba(0, 0, 0, 0.4);">
    <div class="container-fluid">
      <img src="/images/talent-search.png" alt="Logo" width="50" height="50" class="d-inline-block align-text-top m-1">
      <a class="navbar-brand text-white" href="#">
        HireHub
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#benefit">Benefits</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#feature">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Contact</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
  <!-- End of Navbar-->

  <!-- 1st section-->
  <section class="main">
    <div class="tagline">
      <h1>Unlock the Power of Hiring Efficiency with HireHub</h1>
    </div>
  </section>

  <!-- Benefits Section -->
  <section class="benefits" id="benefit">
    <div class="benefit-container">
      <h2>Benefits of Online Recruitment</h2>
      <div class="benefits-grid">
        <div class="benefit-item circle">
          <span class="title">Wider Reach</span>
          <div class="benefit-description">
            <p>Online recruitment enables employers to reach a larger pool of candidates compared to traditional
              methods.</p>
          </div>
        </div>
        <div class="benefit-item circle">
          <span class="title">Cost-Effective</span>
          <div class="benefit-description">
            <p>Online recruitment is generally more cost-effective than traditional methods such as newspaper ads or
              printed materials.</p>
          </div>
        </div>
        <div class="benefit-item circle">
          <span class="title">Time Efficiency</span>
          <div class="benefit-description">
            <p>Online recruitment accelerates the hiring process by streamlining various stages, such as job posting,
              application submission, and resume screening.</p>
          </div>
        </div>
        <div class="benefit-item circle">
          <span class="title">Improved Candidate Quality</span>
          <div class="benefit-description">
            <p>With online recruitment, employers can leverage advanced filtering options and keyword searches to screen
              candidates based on specific skills, qualifications, and experience.</p>
          </div>
        </div>
        <div class="benefit-item circle">
          <span class="title">Enhanced Employer Branding</span>
          <div class="benefit-description">
            <p> Online recruitment provides an opportunity to showcase an organization's culture, values, and unique
              selling points.</p>
          </div>
        </div>
        <div class="benefit-item circle">
          <span class="title">Easy Application Management</span>
          <div class="benefit-description">
            <p>Online recruitment platforms often offer applicant tracking systems (ATS) that streamline the management
              of applications, resumes, and candidate data. </p>
          </div>
        </div>
        <div class="benefit-item circle">
          <span class="title">Data-Driven Decision</span>
          <div class="benefit-description">
            <p>Online recruitment platforms generate data and analytics that provide valuable insights into recruitment
              campaigns, candidate sources, and hiring metrics.</p>
          </div>
        </div>
        <div class="benefit-item circle">
          <span class="title">Global Accessibility</span>
          <div class="benefit-description">
            <p>Online recruitment eliminates geographical barriers, allowing organizations to source and hire talent
              from anywhere in the world.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End of Benefits Section -->

  <!-- Features section -->
  <section class="features" id="feature">
    <div class="feature-container">
      <h2>Key Features of Our Online Hiring App</h2>
      <div class="feature-flex">
        <div class="feature-item">
          <div class="feature">
            <h3>Job Posting and Distribution</h3>
          <p>Easily create and distribute job listings to reach a wide audience across multiple platforms.</p>
          </div>
          
        </div>
        <div class="feature-item">
          <div class="feature">
          <h3>Applicant Tracking System (ATS)</h3>
          <p>Efficiently manage and track candidate applications throughout the hiring process.</p>
          </div>
        </div>
        <div class="feature-item">
          <div class="feature">
          <h3>Candidate Screening and Assessment</h3>
          <p>Screen and assess candidates with advanced tools to identify the most qualified applicants.</p>
        </div>
        </div>
        <div class="feature-item">
          <div class="feature">

            <h3>Collaboration and Communication</h3>
            <p>Enable seamless collaboration and communication among hiring team members and stakeholders.</p>
          </div>
          </div>
        <div class="feature-item">
          <div class="feature">

            <h3>Interview Management</h3>
            <p>Simplify interview scheduling and coordination with automated tools and reminders.</p>
          </div>
        </div>
        <div class="feature-item">
          <div class="feature">

            <h3>Analytics and Reporting</h3>
            <p>Gain valuable insights into your hiring metrics and track the effectiveness of your recruitment efforts.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End of features section -->

  <!-- Footer -->
  <footer>
    <div class="footer-container">
      <div class="footer-content">
        <div class="footer-logo">
          <img src="/images/talent-search.png" alt="Footer Logo">
          <span>HireHub</span>
        </div>
        <div class="footer-links">
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#benefit">Benefits</a></li>
            <li><a href="#feature">Features</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <div class="footer-social">
          <ul>
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="footer-bottom">
        <p>&copy; 2023 HireHub. All rights reserved.</p>
      </div>
    </div>
  </footer>
  

  



  <%- include('partials/ending') %>